<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BizInfo新增页面</title>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
</head>
<body>
请添加Biz Info
<form id="form1">
    <div> <input name="bizInfoId" id="bizInfoId"  placeholder="请输入BizInfoId"></div>
    <div> <input name="bizName" id="bizName"   placeholder="请输入BizName"></div>
    <div> <input name="bu" id="bu"   placeholder="请输入Bu"></div>
    <div> <input name="owner" id="owner"   placeholder="请输入Owner"></div>
    <div> <input name="description" id="description"   placeholder="请输入Description"></div>
    <div> <input  type="button" value="添加" id="btnSave"/></div>
</form>
<script>
    $(function () {

        $("#btnSave").click(function () {
            $.ajax({
                cache: true,
                type: "POST",
                url: "/tinyBizInfo/save",
                data:$('#form1').serialize(),
                dataType:"json",
                async: false,
                error: function (request) {
                    console.log("Connection error");
                },
                success: function (data) {
                    if (data.code == 0) {
                        console.log("成功");
                    } else {
                        console.log("失败");
                    }

                }
            });
        });

    });
</script>
</body>
</html>