<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>"这是index页面"</title>
</head>
<body>
欢迎欢迎热烈欢迎
<form id="form1">
    <div> <input name="bizInfoId" id="bizInfoId"  placeholder="请输入BizInfoId"></div>
    <div> <input name="bizName" id="bizName"   placeholder="请输入BizName"></div>
    <div> <input name="bu" id="bu"   placeholder="请输入Bu"></div>
    <div> <input name="owner" id="owner"   placeholder="请输入Owner"></div>
    <div> <input name="description" id="description"   placeholder="请输入Description"></div>
    <div> <input  type="button" value="添加" id="btnSave"/></div>
</form>
</body>
</html>
