<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Flow Config</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>添加 Flow Config</h1>

<form action="#" th:action="@{/flowConfig/add}" th:object="${tinyFlowConfigDO}" method="post">
    <p>
        ConfigId: <input type="text" th:field="*{configId}">
    </p>
    <p>
        BizInfoId: <input type="text" th:field="*{bizInfoId}">
    </p>
    <p>
        Config: <input type="text" th:field="*{jsonConfig}">
    </p>
    <p>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
    </p>
</form>

</body>
</html>