<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Biz Info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>添加 Biz Info</h1>

<form action="#" th:action="@{/bizInfo/add}" th:object="${tinyBizInfoDO}" method="post">
    <p>
        Id: <input type="text" th:field="*{bizInfoId}">
    </p>
    <p>
        Name: <input type="text" th:field="*{bizName}">
    </p>
    <p>
        Bu: <input type="text" th:field="*{bu}">
    </p>
    <p>
        Owner: <input type="text" th:field="*{owner}">
    </p>
    <p>
        Description: <input type="text" th:field="*{description}">
    </p>
    <p>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
    </p>
</form>

</body>
</html>